:root{
  --blue-1: rgb(2, 156, 184);
  --blue-2: #00C3DB;
  --blue-medium: #029CB8;
  --blue-dark-1: #135266;
  --blue-dark-2:#063646;
  --blue-dark-max: #03222c;
  --fondo: #18181B;
  --transition: 0.4s;
}
.active{
    display: none;
  }
.inactive{
  display: block;
}

.todo-panel-h2{
  display: none;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  border: 1px solid  #ffffff75;
  border-radius: 5px;
}

  /* todo seach */
  /* Lista app element */
  
  
  @media only screen and (min-width: 768px) {
    /* tables */
    .object-modal{
      width: 40%;
    }
  }
  @media only screen and (min-width: 992px) {
    /* laptops*/
    .todo-seach-box, .todo-list{
      width: 45vw;
    }
    .todo-add-button{
      position: absolute;
    }
    .todo-panel{
      margin-top: -30rem;
      background-color: #161515;
      padding: 10px;
      border-radius: 10px;
      height: 60vh;
      overflow:auto;
      gap: 10px;
      width: 40vw;
      left: 55%;


      position: absolute;
    }
    .todo-panel-h2{
      display: block;
    }
    .todo-create-button{
        position: relative;
        margin-left: -20%;
        
 }
  }
  @media only screen and (min-width: 1460px) {
    /* laptops*/
    .todo-panel{
      margin-top: 20%;
    }
 }
  
  .todo-panel{
    display: block;
    
  }